{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'user/css/bootstrap.css' %}">
</head>
<body>
	

<div class="container mt-4">
    <h2>Edit User: {{ user.username }}</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'admin_panel' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

</body>
</html>